{% extends 'base_selection.html' %}

{% block meta_description %}Test out different smite loadouts{% endblock %}
{% block css %}{{ url_for('static', filename='css/char_build.css') }}{% endblock %}
{% block js %}{{ url_for('static', filename='js/char_build.js') }}{% endblock %}

{% block selection_body %}
   <div class="container">
      <div class="columns">

         <!-- Creates columns of characters-->
         {%for char_list in batch_list %}
            <div class="column ">
               {% for char in char_list %}
                  <div class="tile is-ancestor">
                     <figure class="image ">
                        {% set filename= 'images/' + char + '_default.jpg' %}
                        <img src="{{ url_for('static', filename=filename) }}" alt="Placeholder image">
                     </figure>
                     <!-- <a href="/build/{{char}}">
                        <p class="title is-6" style="color:blue;">{{char}}</p>
                     </a> -->
                  </div>
               {% endfor %}
            </div>
         {% endfor %}
         <!-- Closes columns -->

      </div>
   </div>
{% endblock %}
